[package]
name = "s16-compiler"
version.workspace = true
edition.workspace = true
license.workspace = true
build = "build.rs"

[dependencies]
logos = "0.16.0"
lalrpop-util = "0.22.2"
thiserror = "2.0.17"

[build-dependencies]
lalrpop = "0.22.2"

